@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.woff') format('woff');
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.woff') format('woff');
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    max-width: 1120px;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    color:  #1B1C21;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    flex-basis: 100%;
    height: 88px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #D9FFF5;
}
.block-left, .block-right  {
    display: flex;
    align-items: center;
}
.button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'TT Lakes';
    width: 40px;
    height: 40px;
    border-radius:  50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.button:hover {
    opacity: 0.7;
}
.button__lable {
    display: none;
}
.header__button, .communication__button {
    margin: 8px 16px 8px 0;
}
.header__button--menu{
    background-image: url(../img/burger-menu-icon.svg);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__icon {
    width: 97px;
    height: 52px;
    background-image: url(../img/Logo.svg);
}
.header .header-requests-left {
    display: none;
}
.communication__button--call {
    background-image: url(../img/call-icon.svg);
}
.communication__button--chat {
    background-image: url(../img/chat-icon.svg);
}
.communication__button--profile {
    background-image: url(../img/profile-icon.svg);
}
.communication__button:nth-child(5n) {
    margin-right: 0;
}
.header-requests-right::before{
    content: '';
    width: 2px;
    height: 32px; 
    margin: 0 20px 0 16px;
    background: #EAEAEA;

}
.header__button--request {
    background-image: url(../img/request-icon.svg);
}
.header__button--status {
    background-image: url(../img/status-icon.svg);
    margin-right: 0;
}
.main__title {
    border-left: 4px solid  #41F6D7;
    border-top: 4px solid transparent; 
    border-bottom: 4px solid transparent;
    padding: 0 12px;
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}
.title__buttons {
    display: none;
}
.tabs {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.tabs::before, .tabs::after {
    content: "";
    position: absolute;
    width: 16px; /* меньше чем справа что бы рамку activ не осветляло(в ширину отступа)*/
    height: 40px; 
    background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); 
}
.tabs::after {
    width: 24px;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.tabs__item--active {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    margin-left: 16px;
}
.tabs__link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #7E7E82;
    border: 2px solid transparent;
}
.tabs__item:last-child {
    margin-right: 0px;
}
.content {
    margin: 24px 0;
}
.about{
    display: flex;
    flex-direction: column;
}
.about__block-txt {
    padding: 0 16px;
    line-height: 18px;
    line-height: 20px;
}
.about__text:last-of-type {
    display: none;
}
.more-button {
    border: 0;
    padding-left: 24px;
    margin: 16px 0;
    background-color: transparent;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    background-image: url(../img/read-more-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
}
.photo-cps img {
    max-width: 100%;
    max-height: 100%;
}
/* !~~~~~~~~~~~~~~~~~~~~~~~MENU~~~~~~~~~~~~~~~~~~~~~~~ */
.menu {
    width: 320px;
    min-height: 100vh;
    padding: 19px 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: -0.2px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.menu-header, .communication  {
    display: flex;
    flex-direction: row;
}
.menu-header {
    padding-bottom: 40px;
    align-items: center;
}
.button--close {
    margin-left: 0;
    background-image: url(../img/burger-menu-close-icon.svg);
}
.menu__logo {
    margin-left: 16px;
}
.button--search {
    margin-left: auto;
    background-image: url(../img/search-icon.svg);
}
.menu__header {
    justify-content: space-between;
}
.navigation {
    flex-grow: 1;
}
.navigation__list {
    padding-bottom: 32px;
}
.navigation__item {
font-family: 'TT Lakes';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-bottom: 26px;
}
.navigation__item--active {
    position: relative;
}
.navigation__item--active::before {
    content: "";
    height: 32px;
    border-left: 4px solid #41F6D7;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    left: -24px;
    top: -5px;
}
.navigation__link {
    color: #1B1C21;
}
.navigation__link--active {
    color: #7E7E82;
}
.communication {
    flex-wrap: wrap;
}
.contacts {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
}
.contacts__mail {
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    padding-bottom: 12px;
}
.contacts__phone {
    font-size: 24px;
    font-weight: 700;
    color: #1B1C21;
    line-height: 32px;
    letter-spacing: -0.6px;
}
.language-switch {
    padding-top: 35px;
}
.language-switch__button {
    border: none;
    background-color: transparent;
    font-family: 'TT Lakes';
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    padding-right: 7px;
    line-height: 24px;
    cursor: pointer;
}
.language-switch__button--active {
    color: #7E7E82;
}
/* !~~~~~~~~~~~~~~~~~~~~~~~MEDIA~~~~~~~~~~~~~~~~~~~~~~~ */
@media(min-width: 532px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
    }
    .about__block-txt, .photo-cps {
        flex-basis: 47%;
    }
    .photo-cps {
        border-radius: 6px;
        margin-right: 16px;
    }
}
@media(min-width: 768px) {
    .header {
        padding: 0 24px;
    }
    .separator::before{
        content: '';
        width: 2px;
        height: 32px;
        margin-right: 20px;
        background: #EAEAEA;
        border-radius: 1px;
    }
    .header .header-requests-left {
        display: flex;
    }
    .main__title {
        padding-left: 20px; 
    }
    .tabs::before {
        width: 20px;
    }
    .tabs__item--active{
        margin-left: 24px;
    }
    .content {
        padding: 8px;
    }
    .about__text:last-of-type{
        display: block;
        padding-top: 1em;
    }
    .about__text-hidden {
        display: none;
    }
    .photo-cps {
        border-radius: 6px;
        margin-right: 16px;
    }
    .photo-cps img {
        border-radius: 6px;
    }
}
@media(min-width: 1120px) {
    .header {
        justify-content: flex-end;
        background-color: transparent;
        border: 0;
        position: relative;
        margin-bottom: -92px;
        z-index: 1;
    }
    .header .block-left {
        display: none;
    }
    .header__button--request {
        margin-right: 27px;
    }
    .header__button--request, .header__button--status {
        border-radius: 0;
        font-family: 'TT Lakes';
        font-weight: 500;
        width: auto;
        background-color: transparent;
        background-position: right center;
        font-size: 16px;
        line-height: 24px;
        padding-right: 40px;      
    }
    .button__lable {
        display: inline;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding-right: 8px;
    }
    .header-requests-right::before {
        display: none;
    }
    .main__title{
        padding-left: 20px;
    }
    .tabs {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .tabs__item {
        margin-right: 12px;
    }
    .tabs__item:last-child {
        margin-left: 26px;
        margin-top: 6px;
    }
    .tabs::before, .tabs::after {
        display: none;
    }
    .about__text-hidden{
        display: inline;
    }
}