@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/tt-lakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),

        url('../fonts/tt-lakes/TTLakes-Regular.woff') format('woff'),
        url('../fonts/tt-lakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    max-width: 1120px;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    color:  #1B1C21;
    margin: 0 auto;
}
button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
.container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    flex-basis: 100%;
    height: 88px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #D9FFF5;
}
.header__block-left, .header__block-right  {
    display: flex;
    align-items: center;
}
.button {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background: #FF3E79;
    border-radius:  50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__menu-icon {
    width: 18px;
    height: 16px;
    background-image: url(../img/burger-menu-icon.svg);
}
.separator {
    width: 2px;
    height: 32px;
    margin: 0 12px;
    background: #EAEAEA;
    border-radius: 1px;
}
.logo {
    margin: 0 4px 0 8px;
}
.logo__icon {
    width: 97px;
    height: 52px;
    background-image: url(../img/Logo.svg);
}
.separator-1, .button__call, .button__chat, .button__profile {
    display: none;
}
.button__call-icon {
    width: 18px;
    height: 18px;
    background-image: url(../img/call-icon.svg);
}
.button__chat-icon {
    width: 20px;
    height: 20px;
    background-image: url(../img/chat-icon.svg);
}
.button__profile-icon {
    width: 20px;
    height: 18px;
    background-image: url(../img/profile-icon.svg);
}
.button__request-icon {
    width: 20px;
    height: 20px;
    background-image: url(../img/request-icon.svg);
}
.button__status {

}
.button__status-icon {
    width: 16px;
    height: 20px;
    background-image: url(../img/status-icon.svg);
}
.main {

}
.title {
    border-left: 4px solid  #41F6D7;
    border-top: 4px solid transparent; 
    border-bottom: 4px solid transparent;
    padding: 0 12px;
    margin: 24px 0;
}
.title__text {
    font-size: 28px;
    font-family: 'TT Lakes';
    font-weight: 700;
    line-height: 40px;

}
.tabs {

}
.tabs__nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.decay{
    position: absolute;
    width: 16px; /* меньше чем справа что бы рамку activ не осветляло(в ширину отступа)*/
    height: 40px; 
    background-color: red;
    background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);  
}
.decay__right {
    width: 24px;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.tabs__link.tabs__link--active {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    margin-left: 16px;
}
.tabs__link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    ;

}
.tabs__link:last-child {
    margin-right: 0px;
}
.tabs__content {
    margin: 24px 0;
}
.about-us{
    display: flex;
    flex-direction: column;
}
.about-us__text {
    padding: 0 16px;
    line-height: 18px;
}
.more {
    margin: 16px 0;
}
.about-us__text--hdden--320 {
    display: none;
}
.more__button {
    border: 0;
    padding-left: 24px;
    background-color: transparent;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    background-image: url(../img/read-more-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
}
.photo-cps img {
    max-width: 100%;
}
.footer {
}
